/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
# Ignore application configuration
/
# Ignore application configuration
/asdasdasdasd}
# Ignore application configuration
/asdasdasdasd
/asdasdasdasd
